# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://portfolio:e9mVzhReMCbmyVSo@cluster0.bdkdd6a.mongodb.net/personal

# JWT
JWT_ACCESS_SECRET=ds@123
JWT_REFRESH_SECRET=ds@123
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dkjkyw4pc
CLOUDINARY_API_KEY=377198661313837
CLOUDINARY_API_SECRET=Hrr-yCYtqlDO9fbNAIbB24YVAxs

# Razorpay
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# Client URL (for CORS)
CLIENT_URL=http://localhost:5173
